.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  gap: 15px;
  padding: 20px 10px;
}

.link {
  text-decoration: none;
  transition: transform 0.2s;
  position: relative;

  &:hover {
    transform: scale(1.05);

    & .close {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.close {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.avatar {
  height: 260px;
  object-fit: cover;
  border-radius: 3px;

  background: rgb(98, 152, 163);
}
